<ion-view view-title="One Plus One">
  <ion-content>
  <div class="list">
     <div class="item item-divider">
    Edit profile
  </div>
   <label class="item item-input item-stacked-label">
    <span class="input-label">New Username</span>
    <input type="text" placeholder="{{username}}">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">New Phone Number</span>
    <input type="text" placeholder="{{phone}}">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">New Business Name</span>
    <input type="text" placeholder="{{business}}">
  </label>
 
</div>

<div class="list">
<label class="item">
 <button ng-click="" class="button button-block button-outline button-calm">
 Save 
</button>
</label>
</div>

 

  </ion-content>
</ion-view>
