<ion-view view-title="One Plus One" hide-back-button="true">
 <ion-nav-buttons side="right">
         
        <button class="button button-balanced button-fab " ng-click="toShelf()"><b>SELL</b></button>
      </ion-nav-buttons>
       <ion-nav-buttons side="left">
         
        <button class="button button-assertive button-fab " ng-click="logout()"><i class="icon ion-log-out"></i></button>
      </ion-nav-buttons>
  <ion-content padding="true">

 <div class="row">
  <div class="col" ng-click="sales()">
  	<div class="card">
  <div class="item item-text-wrap">
    <img src="img/sales.png">
    <h3 align="center">SALES</h3>
    <h4 align="center">Ghc {{dsales |number:2}}</h4>
  </div></div>
</div>
  <div class="col" ng-click="inventory()">
  	<div class="card">
  <div class="item item-text-wrap">
    <img src="img/shefl.png">
    <h3 align="center">INVENTORY</h3>
    <h4 align="center">Ghc {{dstock |number:2}}</h4>
  </div>
</div></div>
</div>
<div class="row">
  <div class="col" ng-click="expense()">
  	<div class="card">
  <div class="item item-text-wrap">
    <img src="img/expense.png">
    <h3 align="center">EXPENSES</h3>
    <h4 align="center">Ghc {{dspent |number:2}}</h4>
    <h4 align="center" style="color:white">kdmk</h4>
  </div>
</div></div>
  <div class="col" ng-click="report()">
  	<div class="card">
  <div class="item item-text-wrap">
    <img src="img/report.png">
    <h3 align="center">REPORT</h3>
    <h4 align="center" >Profit: Ghc {{ profit() | number : 2}}</h4>
    <h4 align="center">Balance: Ghc {{ balance() | number: 2}}</h4>
  </div>
</div></div>
</div>

  </ion-content>
</ion-view>
