<ion-view view-title="Loans">
<ion-nav-buttons side="right">

 
       

         <button class="button button-balanced button-fab " ng-click="add()"><i class="icon ion-plus"></i></button>
        <button class="button button-assertive button-fab " ng-click="pay()"><i class="icon ion-minus"></i></button>
   
     
      </ion-nav-buttons>

  <ion-content padding="true">

   <div class="card">
    <div class="item item-text-wrap item-icon-right">
    <b>{{institute}} </b>
    <i class="icon ion-edit" ng-click="bank()"></i><br>
  
  </div>
</div>

 <div class="card">
  <div class="item item-text-wrap">
    <b>You Owe <span style="color:red">Ghc</span> {{amount | number : 2}} </b><br>
   
    
  </div>
</div>
<h3>You Have Paid</h3>
<ul class="list">
    <li class="item" ng-repeat="payment in payments">
      Paid {{payment.amount}} on {{payment.date| date:'MM/dd/yyyy'}} 
    </li>
</ul>

</ion-content>
</ion-view>