<ion-view view-title="One Plus One">
  <ion-content>
  <div class="list">
     <div class="item item-divider">
    Change Password
  </div>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Old Password</span>
    <input type="text" >
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">New Password</span>
    <input type="text" >
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Confirm Password</span>
    <input type="text" >
  </label>
 
</div>


<div class="button-bar">
  <a class="button button-outline button-calm"> Save</a>
  
</div>
 

  </ion-content>
</ion-view>