<ion-view view-title="Profit">

<ion-nav-buttons side="right">
        <button class="button button-balanced button-fab" onclick="window.open('http://addupafrica.com/profile', '_system')"><i class="icon ion-edit"></i></button>
      </ion-nav-buttons>
  <ion-content>
  
<div class="card stable-bg">
  <div class="item item-divider">
    {{business}}
  </div>
  <div class="item item-text-wrap">
   <div class="list">

    <a class="item item-avatar item-icon-left" href="#">
      <i class="icon ion-android-person"></i>
      <h2>{{username}}</h2>
      <p>{{phone}}</p>
    </a>
</div>
  </div>

</div>

  </ion-content>
</ion-view>
