<ion-view view-title="Report">
<ion-nav-buttons side="right">

 
         <button class="button button-positive button-fab " ng-click="goHome()"><i class="ion-home"></i></button>
   
     
      </ion-nav-buttons>

  <ion-content>


<br>
   <div class="card">
  
  <div class="item item-text-wrap">
    <b>Sales : <span style="color:red">Ghc</span> {{sales - 0 | number : 2}} </b><br>
    <b>Cost of Goods Sold  : <span style="color:red">Ghc</span> {{(soldcost - 0) | number : 2}}</b><br>
    <b>Expenses  : <span style="color:red">Ghc</span> {{(spent - 0) | number : 2}}</b><br>
    <hr>
    <b>Profit / (Loss) :  <span style="color:red">Ghc</span> {{ profit - 0 | number : 2}} </b>
  </div>
 
</div>
   <div class="card" ng-click="go_to_performance()">
  <div class="item item-divider">
    Cash Balance
  </div>
  <div class="item item-text-wrap">
   <b> <span style="color:red">Ghc</span> {{balance() | number : 2}}</b>
  </div>
 
</div>
  

<div class="list">


   <label class="item">
          <button class="button button-block button-positive-900"  ng-click="loans()">Loans</button>
  </label>
   <label class="item">
          <button class="button button-block button-assertive-900"  ng-click="go_to_reset()">Reset</button>
  </label>
 
</div>
  </ion-content>
</ion-view>
