<ion-view view-title="Reset">

  <ion-content>

<div class="list">
 <label class="item">
          <button class="button button-block button-assertive-900"  ng-click="nrstock()">Clear Inventory</button>
  </label>
  <label class="item">
          <button class="button button-block button-assertive-900"  ng-click="nrsold()">Clear Sales</button>
  </label>
    <label class="item">
          <button class="button button-block button-assertive-900"  ng-click="nrspent()">Clear Expenses</button>
  </label>
    <label class="item">
          <button class="button button-block button-assertive-900"  ng-click="nrloans()">Clear Loans</button>
  </label>
      <label class="item">
          <button class="button button-block button-assertive-900"  ng-click="nrbanks()">Clear Banks</button>
  </label>
   <label class="item">
          <button class="button button-block button-assertive-900"  ng-click="nrall()">Clear Everything</button>
  </label>
 
</div> 

  </ion-content>
</ion-view>
